<div class="container">
    <h3>Nova Competições</h3>
    <form class="form-container">
        <mat-slide-toggle>Público</mat-slide-toggle>
        <mat-form-field class="input-full-width" appearance="standard">
            <mat-label>Nome da competição</mat-label>
            <input matInput #channeltitle type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Data de Início</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Formato</mat-label>
            <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="option1">Pontos corridos</mat-option>
                <mat-option value="option2">Grupo + mata </mat-option>
                <mat-option value="option3">Mata</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Quantos se classificam no grupo?</mat-label>
            <input matInput #channeltitle type="text">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Grupo é ida e volta?</mat-label>
            <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="option1">Sim</mat-option>
                <mat-option value="option2">Não </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>